{% extends "base.html" %}

{% block title %}Data{% endblock %}

{% block page_content %}
<div class="page-header table-responsive">
{% if username %}
    <h1>Database</h1><br>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
        {% for col in row1 %}
            <th class="bg-success">{{ col }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data_table %}
            <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
<h1>You need to be logged in to see this section. <a href="/login">Login here!</a></h1>        
{% endif %}    
</div>
{% endblock %}