{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block page_content %}
<div class="page-header">
{% if username %}
    <h1> Logged in as {{username}}, <a href="/logout">Log Out</a> </h1>
{% else %}
    <form method="POST" action="/login">
        {{ form.csrf_token }}
        {{ form.name.label }}<br>
        {{ form.name(size=20) }}<br>
        {{ form.password.label }}<br>
        {{ form.password(size=20) }} <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            
                {{ messages[0] }}
            
        {% endif %}
        {% endwith %}
        <br>
        {{ form.submit }}
        <!-- <input type="submit" value="Login"> -->
    </form>
    <p>New user? <a href="/register">Sign up here!</a></p>

{% endif %}
</div>
{% endblock %}