{% extends "base.html" %}

{% block title %}Productos mas vendidos{% endblock %}

{% block page_content %}
<div class="page-header table-responsive">
{% if username %}
<h1>Productos mas vendidos</h1><br>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
    {% for col in row1 %}
    <th class="bg-success">{{ col }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in dataTable %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h1>Necesita estar logeado para ver esta seccion. Ingrese <a href="/login">aqui!</a></h1>        
{% endif %}    
</div>
{% endblock %}